@import url("https://fonts.googleapis.com/css2?family=Alice&family=Bodoni+Moda:opsz@6..96&family=Caprasimo&family=Lobster&family=Lobster+Two&family=Open+Sans:wght@300;500;700&family=Outfit:wght@300;400;600&family=Roboto:wght@100;400&display=swap");

:root {
  --color-white: #faf1e4;
  --color-green-dark: #435334;
  --color-green-medium: #9eb384;
  --color-green-light: #cedebd;
  --color-orange: #e86a33;
  --font-Open: "Open Sans";
  --font-Bodoni: "Bodoni Moda";
  --font-Roboto: "Roboto";
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}

.title {
  font-family: "Open Sans";
  font-size: 45px;
  font-weight: bold;

  background: linear-gradient(
    to left,
    var(--color-green-light),
    var(--color-green-medium),
    var(--color-green-dark),
    var(--color-green-light)
  );
  background-size: 400% 100%;
  animation: degrade-title 10s linear infinite alternate;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes degrade-title {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 400%;
  }
}

.subtitle {
  font-size: 20px;
  font-family: "Times New Roman";
  font-weight: bold;
  margin-top: 1rem;
}

/* SECTION */

.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.section-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.section-content h1 {
  font-family: "Times New Roman";
  font-size: 40px;
  text-transform: capitalize;
}

.section-content p {
  width: 60%;
  font-size: 20px;
  font-size: "Roboto";
  text-align: justify;
}

.img {
  width: 18rem;
  height: 27rem;
  border-radius: 1rem;
}

/* Colocando texto "dentro" da imagem */
.img-content {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.img-content-left,
.img-content-right {
  overflow: hidden;
  position: relative;
}

.img-content-left h2,
.img-content-right h2 {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 1rem;
  color: var(--color-white);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-transform: capitalize;
}

/* Efeito overlay */

.img-content-left,
.img-content-right {
  height: 27rem;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 1rem;
  transition: 0.5s;
}

.overlay:hover {
  opacity: 0.3;
}
