@import url("https://fonts.googleapis.com/css2?family=Alice&family=Bodoni+Moda:opsz@6..96&family=Caprasimo&family=Lobster&family=Lobster+Two&family=Open+Sans:wght@300;500;700&family=Outfit:wght@300;400;600&family=Roboto:wght@100;400&display=swap");

:root {
  --color-white: #faf1e4;
  --color-green-dark: #435334;
  --color-green-medium: #9eb384;
  --color-green-light: #cedebd;
  --color-orange: #e86a33;
  --font-Open: "Open Sans";
  --font-Bodoni: "Bodoni Moda";
  --font-Roboto: "Roboto";
  --color-green-light-new: #88b57d;
  --color-green-text: #193811;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Open Sans";
  font-size: 45px;
  font-weight: bold;

  background: linear-gradient(
    to left,
    var(--color-green-light),
    var(--color-green-medium),
    var(--color-green-dark),
    var(--color-green-light)
  );
  background-size: 400% 100%;
  animation: degrade-title 10s linear infinite alternate;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes degrade-title {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 400%;
  }
}

.main-img {
  width: 5rem;
  margin-left: 1.5rem;
}

/* SECTION TOP */

/* SECTION-TOP CONTENT TOP */

.section-content-top {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: var(--color-green-light-new);
  padding: 2rem 0;
}

.section-content-top h1 {
  font-size: 48px;
  font-family: "Lobster Two";
}

.text {
  width: 900px;
  font-size: 20px;
  font-family: "Roboto";
  text-align: center;
}

/* SECTION-TOP CONTENT BOTTOM */

.section-content-bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
}

.section-content-bottom h1 {
  font-size: 46px;
  font-family: "Open Sans";
}

.img-section-top {
  /* width: 18rem; */
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  margin-inline: 25px;
  transition: all 0.3s linear;
}

.div-img-all {
  display: flex;
  gap: 2rem;
}

.div-img {
  width: 20rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0px 2px 15px #00000056;
  overflow: hidden;
}

.div-img:hover img {
  scale: 1.1;
}

/* SECTION BOTTOM */

.section-bottom {
  margin-bottom: 2rem;
}

/* SECTION-BOTTOM CONTENT TOP */

.section2-content-top {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-green-light-new);
  gap: 3rem;
  padding: 2rem 0;
}

.section2-content-top h1 {
  font-size: 46px;
  font-family: "Outfit";
}

/* SECTION-BOTTOM CONTENT BOTTOM */

.section2-content-bottom {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
}

.section2-content-bottom h1 {
  font-size: 46px;
  font-family: "Roboto";
}

/* class="section2-img" */
.img-section2-bottom {
  /* width: 16rem; */
  width: 100%;
  border-radius: 1rem;
  margin-inline: 25px;
  transition: all 0.3s linear;
}

.div2-img {
  width: 20rem;
  display: flex;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0px 2px 15px #00000056;
  overflow: hidden;
}

.div2-img:hover img {
  scale: 1.1;
}
