@media screen and (max-width: 1024px) {
  /* SECTION */

  .content1,
  .content3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .content2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  /* NAVBAR */

  .navbar {
    display: none;
  }

  /* MENU LATERAL */

  .menu-lateral-mobile {
    display: block;
  }

  /* MAIN */

  .title {
    font-size: 40px;
  }

  .text-subtitle {
    font-size: 16px;
  }

  /* SECTION */

  .content1-left h1,
  .content2-right h1,
  .content3-left h1 {
    font-size: 30px;
  }

  .content1-left h6,
  .content2-right h6,
  .content3-left h6 {
    font-size: 16px;
    width: 100%;
  }

  .content1-left,
  .content2-right,
  .content3-left {
    width: 90%;
  }

  .content1-right,
  .content2-left,
  .content3-right {
    width: 100%;
  }

  /* FOOTER */

  .footer-redes {
    visibility: visible;
  }
}

@media screen and (max-width: 425px) {
  /* MENU LATERAL */

  .btn-abrir-menu-mobile i {
    font-size: 30px;
  }

  .btn-fechar i {
    font-size: 22px;
  }

  .logo-menu-lateral a {
    text-align: end;
    margin-right: 1rem;
  }

  .nav-menu-mobile ul li a {
    font-size: 20px;
  }

  .div-btn-contatos-menu-lateral a i {
    font-size: 1.4rem;
  }

  /* MAIN */

  .title {
    font-size: 30px;
  }

  .text-subtitle {
    font-size: 15px;
    width: 80%;
  }

  /* SECTION */

  .content1-left h1,
  .content2-right h1,
  .content3-left h1 {
    font-size: 25px;
  }

  .content1-left h6,
  .content2-right h6,
  .content3-left h6 {
    font-size: 14px;
  }

  .content1-left,
  .content2-right,
  .content3-left {
    width: 80%;
  }

  .content1 img,
  .content2 img,
  .content3 img {
    width: 18rem;
    height: 25rem;
  }

  .flip-container {
    width: 18rem;
    height: 25rem;
  }

  /* FOOTER */

  .icon-redes-footer i {
    font-size: 1rem;
  }

  .footer-content-left-content {
    width: 100%;
    height: 70%;
  }

  .footer-content-left-content h5 {
    font-size: 20px;
  }

  .footer-content-left-content a > p {
    font-size: 14px;
  }

  .footer-content-right-content {
    padding-top: 1.5rem;
  }

  .footer-content-right-content p {
    font-size: 20px;
  }

  #email,
  #name {
    width: 95%;
    height: 25px;
  }

  .btn-addNewletter {
    width: 85px;
    height: 30px;
    font-size: 10px;
  }

  .footer-content-right-content2 {
    font-size: 7.5px;
  }
}

@media screen and (max-width: 375px) {
  /* MENU LATERAL */

  .nav-menu-mobile ul li a {
    font-size: 19px;
  }

  /* MAIN */

  .title {
    font-size: 25px;
  }

  .text-subtitle {
    font-size: 13px;
  }

  /* SECTION */

  .content1-left h1,
  .content2-right h1,
  .content3-left h1 {
    font-size: 20px;
  }

  .content1-left h6,
  .content2-right h6,
  .content3-left h6 {
    font-size: 12px;
  }

  .content1 img,
  .content2 img,
  .content3 img {
    width: 16rem;
    height: 23rem;
  }

  .flip-container {
    width: 16rem;
    height: 23rem;
  }

  /* FOOTER */

  .footer-content-left-content h5 {
    font-size: 18px;
  }

  .footer-content-left-content a > p {
    font-size: 12px;
  }

  .footer-content-right-content p {
    font-size: 18px;
  }

  .btn-addNewletter {
    width: 80px;
    font-size: 9px;
  }

  .footer-content-right-content2 {
    font-size: 7px;
  }
}
