@media screen and (max-width: 1024px) {
  /* PÁGINA SOBRE */
  .content-left-sobre,
  .content-right-sobre {
    padding-top: 4rem;
  }

  .content-left-sobre {
    width: 60%;
  }

  .content-right-sobre {
    width: 40%;
  }

  .title-sobre {
    font-size: 36px;
  }

  .text-sobre {
    width: 90%;
    font-size: 16px;
    padding-inline: 20px;
  }

  .content-right-sobre img {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  /* NAVBAR */

  .navbar {
    display: none;
  }

  /* MENU LATERAL */

  .menu-lateral-mobile {
    display: block;
  }

  /* PÁGINA SOBRE */
  .section {
    height: 100%;
  }

  .all-content {
    flex-direction: column-reverse;
  }

  .content-left-sobre {
    width: 100%;
    margin-block: 2rem;
    padding-top: 0;
  }

  .title-sobre {
    font-size: 28px;
  }

  .text-sobre {
    font-size: 15px;
    padding-inline: 45px;
  }

  .content-right-sobre {
    width: 100%;
    padding-top: 6rem;
  }

  .content-right-sobre img {
    width: 40%;
  }

  /* FOOTER */

  .footer-redes {
    visibility: visible;
  }
}

@media screen and (max-width: 425px) {
  /* MENU LATERAL */

  .btn-abrir-menu-mobile i {
    font-size: 30px;
  }

  .btn-fechar i {
    font-size: 22px;
  }

  .logo-menu-lateral a {
    text-align: end;
    margin-right: 1rem;
  }

  .nav-menu-mobile ul li a {
    font-size: 20px;
  }

  .div-btn-contatos-menu-lateral a i {
    font-size: 1.4rem;
  }

  /* PÁGINA SOBRE */

  .content-left-sobre {
    margin-block: 2rem 1rem;
  }

  .title-sobre {
    font-size: 25px;
  }

  .text-sobre {
    font-size: 14px;
    line-height: 18px;
    padding: 15px 35px;
  }

  .content-right-sobre img {
    width: 68%;
  }

  /* FOOTER */

  .icon-redes-footer i {
    font-size: 1rem;
  }

  .footer-content-left-content {
    width: 100%;
    height: 70%;
  }

  .footer-content-left-content h5 {
    font-size: 20px;
  }

  .footer-content-left-content a > p {
    font-size: 14px;
  }

  .footer-content-right-content {
    padding-top: 1.5rem;
  }

  .footer-content-right-content p {
    font-size: 20px;
  }

  #email,
  #name {
    width: 95%;
    height: 25px;
  }

  .btn-addNewletter {
    width: 85px;
    height: 30px;
    font-size: 10px;
  }

  .footer-content-right-content2 {
    font-size: 7.5px;
  }
}

@media screen and (max-width: 375px) {
  /* MENU LATERAL */

  .nav-menu-mobile ul li a {
    font-size: 19px;
  }

  /* PÁGINA SOBRE */

  .title-sobre {
    font-size: 23px;
  }

  .text-sobre {
    font-size: 13px;
  }

  /* FOOTER */

  .footer-content-left-content h5 {
    font-size: 18px;
  }

  .footer-content-left-content a > p {
    font-size: 12px;
  }

  .footer-content-right-content p {
    font-size: 18px;
  }

  .btn-addNewletter {
    width: 80px;
    font-size: 9px;
  }

  .footer-content-right-content2 {
    font-size: 7px;
  }
}
